* {
    outline: none!important;
}

.bg-dark {
    background: #121212!important;
}

.nav__logo {
    width: 80px !important;
    height: 60px !important;
}

.primary-bg {
    background-color: #E1272D!important;
    color: #fff;
    font-weight: 600;
}

.helpers-wrap {
    display: grid;
    grid-template-columns: 1fr;
    row-gap:35px;
    font-weight: 400;
    font-size: 23px;
}
.help-item {
    color: #fff;
    display: flex;
    align-items: center;
}
.tool-round {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    background: #cf6679;
    color: #000000;
    font-weight: 600;
}
.tool-round > img {
    width: 20px;
    height: 20px;
}

.t-primary {
  color: #E1272D!important;
}

.alert-close {
    cursor: pointer;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.alert {
    display: none;
    position: fixed;
    width: 50%;
    right: 20px;
    bottom: 20px;
}

.m-0 {
    margin: 0!important;
}

.btn-lrn {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.form-rrn, .form-rrn:focus {
    background-color: #212121;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-color: #E1272D;
    color: #ffffff;
}

textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
  box-shadow: none;
}

.chart-eth-container {
    width: 100%!important;
    height: 400px!important;
}

#chart_eth {
    width: 100%!important;
    height: 400px!important;
}

#hash_wallet_value {
    position: absolute!important;
    left: -100%!important;
}

#hash_wallet_copy {
    cursor: pointer;
    font-size: 15px;
}
#hash_wallet_copy:active {
    color: #cf6679;
}

.img-copy {
    width: 25px;
    height: 25px;
}

.wallet {
    border-radius: 10px;
    width: 100%;
    height: 250px;
    padding: 30px;
    background: linear-gradient(35deg, #E1272D, rgba(232, 52, 58, 0.6), #e8343a);
}