<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/styles.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>
        Fruit Analyzer
    </title>
</head>
<body class="bg-dark text-white">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand" href="/">
              <img
                  class="nav__logo"
                  src="{{ url_for('static', path='/img/logo.png') }}"
                  alt="logo"
              >
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item d-flex align-items-center justify-content-center">
                    <p class="nav-item m-0 mt-2 ml-3">Wallet:</p>
                </li>
                <li class="nav-item ml-3">
                    <a class="nav-link" href="/wallet/add">Add</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/wallet/create">Create</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/panel/">Panel</a>
                </li>
            </ul>
          </div>
        </nav>
        {% block content %}
        {% endblock %}
    </div>

    <div class="alert alert-success" id="alert-success" role="alert">
        <div class="w-100" id="alert-success-text"></div>
        <div class="alert-close">X</div>
    </div>
    <div class="alert alert-danger" id="alert-danger" role="alert">
        <div class="w-100" id="alert-danger-text"></div>
        <div class="alert-close">X</div>
    </div>

    <script>
        $(document).ready(function () {
            $('.alert-close').on('click', function () {
                $('#alert-success').css("display", "none");
                $('#alert-danger').css("display", "none");
            })
        });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>