{% extends "base.html" %}


{% block content %}

<div class="row mt-4">
    <div class="col-5">
        <div class="wallet">
            <div class="body">
                <h2 class="wallet-title">Wallet</h2>
                <label for="hash_wallet_value" id="hash_wallet_copy">
                    <div class="crop-hash">{{ wallet.hash }}</div>
                    <img class="img-copy" src="{{ url_for('static', path='/img/copy.png') }}" alt="copy">
                </label>
                <input type="text" id="hash_wallet_value" value="{{ wallet.balance }}">
            </div>
            <h5>Balance: <span>{{ wallet.balance }} ETH</span></h5>
        </div>
    </div>
    <div class="col-7">

    </div>
</div>
<div class="row mt-5 mb-5">
    <div class="chart-container chart-transaction mb-4">
        <canvas id="chart_transaction"></canvas>
    </div>

    <div class="chart-eth-container chart-container mb-4">
        <canvas id="chart_eth"></canvas>
    </div>


    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">from</th>
          <th scope="col">to</th>
          <th scope="col">price</th>
        </tr>
      </thead>
      <tbody>
        {% for row in transactions.table %}
        <tr>
          <th scope="row">{{ loop.index }}</th>
          <td>{{ row.from }}</td>
          <td>{{ row.to }}</td>
          <td>{{ row.price }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
</div>


<script>
    $('#hash_wallet_copy').on('click', function () {
        const copyText = document.getElementById("hash_wallet_value");
        copyText.select();
        document.execCommand("copy");
    })

    let x = '{{ transactions.chart['x'] }}'
    x = x.split('&#39;').join('')
    x = x.split('[').join('')
    x = x.split(']').join('')
    x = x.split(',').join('')
    x = x.split(' ')

    let y = '{{ transactions.chart['y'] }}'
    y = y.split('&#39;').join('')
    y = y.split('[').join('')
    y = y.split(']').join('')
    y = y.split(',').join('')
    y = y.split(' ')

    let data_conf = {
      labels: x,
      datasets: [{
        label: 'Transactions',
        backgroundColor: '#E1272D',
        borderColor: '#E1272D',
        data: y,
      }]
    };

    let config = {
        type: 'line',
        data: data_conf,
        options: {}
    };

    const ctx_chart_trs = document.getElementById('chart_transaction').getContext('2d');
    let chart_trs = new Chart(ctx_chart_trs, config);

    data_conf = {
      labels: [],
      datasets: [{
        label: 'ETH',
        backgroundColor: 'rgb(6,201,0)',
        borderColor: 'rgb(6,201,0)',
        data: [],
      }]
    };

    config = {
        type: 'line',
        data: data_conf,
        options: {}
    };

    const ctx_chart_eth = document.getElementById('chart_eth').getContext('2d');
    let chart_eth = new Chart(ctx_chart_eth, config);

    let socket = new WebSocket("wss://stream.binance.com:9443/stream?streams=ethusdt@miniTicker");

    socket.onopen = function() {
        console.log("Соединение установлено.");
    };

    socket.onclose = function(event) {
      if (event.wasClean) {
        console.log('Соединение закрыто чисто');
      } else {
        console.log('Обрыв соединения');
      }
      console.log('Код: ' + event.code + ' причина: ' + event.reason);
    };

    socket.onmessage = function(event) {
        const data = JSON.parse(event.data).data;
        console.log(`Время ${data['E']}`);
        console.log(`Курс по доллару ${data['o']}`);

        if (chart_eth.data.labels.length > 30) {
            chart_eth.data.labels.shift()
            chart_eth.data.datasets[0].data.shift()
        }
        const date = new Date(data['E']);
        chart_eth.data.datasets[0].data.push(data['o'])
        chart_eth.data.labels.push(`${date.toLocaleDateString()} ${date.toLocaleTimeString()}`)
        chart_eth.update();
    };

    socket.onerror = function(error) {
      console.log("Ошибка " + error.message);
    };
</script>
{% endblock %}
