{% extends "base.html" %}

{% block content %}
    <div class="row mt-5">
        <div class="col-7 pr-5">
            <form class="pr-5" id="reg">
                <h4><span class="t-primary">Create</span> user profile</h4>
                <div class="mb-3 mt-4">
                    <label for="reg_email" class="form-label">Email</label>
                    <input type="email" required class="form-control" id="reg_email" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="reg_name" class="form-label">Name</label>
                    <input type="text" required class="form-control" id="reg_name">
                </div>
                <div class="d-flex">
                    <div class="mb-3 w-100">
                        <label for="reg_pass_1" class="form-label">Password</label>
                        <input type="password" required class="form-control" id="reg_pass_1">
                    </div>
                    <div class="mb-3 w-100 ml-3">
                        <label for="reg_pass_2" class="form-label">Confirm password</label>
                        <input type="password" required class="form-control" id="reg_pass_2">
                    </div>
                </div>
                <br>
                <div>
                    <button
                        type="submit"
                        class="btn primary-bg"
                    >Sign Up</button>
                </div>
            </form>
        </div>
        <div class="col-5 pl-5">
            <img src="{{ url_for('static', path='/img/reg-cover.png') }}" width="100%" alt="cover">
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('#reg').on('submit', function (event) {
                event.preventDefault();
                $.ajax({
                    url: '/user/register',
                    method: 'post',
                    dataType: 'json',
                    data: {
                        email: $('#email').val(),
                        password: $('#pass').val(),
                    },
                    success: function (data) {
                        console.log(data)
                        if (data.status === 'OK') {
                            $('#alert-success').css("display", "flex");
                            $('#alert-success-text').text(data.result.msg)
                        } else {
                            $('#alert-danger').css("display", 'flex')
                            $('#alert-danger-text').text(`${data.status}: ${data.result.msg}`)
                        }
                    },
                    error: function (err) {
                        $('#alert-danger').css("display", 'flex')
                        $('#alert-danger-text').text(err.responseJSON.detail[0].msg)
                    }
                });
            });
        });
    </script>
{% endblock %}